<h3>Friends</h3>

<% if(friends.isEmpty()) { %>
  No friends!
<% } else { %>
  <% friends.forEach(function(user, i) { %>
    <ul class="media-list" 
        style="<% if(i % 2 == 0){ %> background: #F0F0FF <% } %> ">
      <li class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="<%= user.get('icon') %>">
        </a>
        <div class="media-body">
          <h4 class="media-heading">
            <a href="#users/<%= user.escape('id') %>">
              <%= user.escape('name') %></a>
          </h4>
        </div>
      </li>
    </ul>
  <% }); %>
<% } %>