<h3>Messages</h3>

<% messages.forEach(function(message) { %>
  <% var user = message.get('user_from'); %>
  <a href="#users/<%= user.escape('id') %>">
    <%= user.escape('name') %></a>:<br>
  
  <%= message.escape('body') %><br>
  <br>
<% }); %>
<br>

<h3>New Message</h3>

<form id="new-message">
  <input type="text"
         placeholder="to..."
         name="message[name]"><br>
  <textarea cols="30" rows="2"
            placeholder="message..."
            name="message[body]"></textarea><br>
  <button>Send</button>
</form>