<% messages.forEach(function(message) { %>
  <br><%= message.get('user_from').get('name') %>:
  <br><%= message.get('body') %>
  <br>
<% }); %>
<br>

<form id="new-message">
  <input type="text"
         placeholder="to..."
         name="message[name]"><br>
  <textarea cols="30" rows="2"
            placeholder="message..."
            name="message[body]"></textarea><br>
  <button>Send</button>
</form>