<h3>Messages</h3>

<% messages.forEach(function(message) { %>
  <ul class="media-list">
    <li class="media">
      <a class="pull-left" href="#">
        <img class="media-object" src="http://placekitten.com/32/32" alt="...">
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <% var user = message.get('user_from'); %>
          <a href="#users/<%= user.escape('id') %>">
            <%= user.escape('name') %></a>
        </h4>
        <%= message.escape('body') %>
      </div>
    </li>
  </ul>
<% }); %>
<br>

<h3>New Message</h3>

<form id="new-message">
  <input type="text"
         placeholder="to..."
         name="message[name]"><br>
  <textarea cols="30" rows="2"
            placeholder="message..."
            name="message[body]"></textarea><br>
  <button>Send</button>
</form>