<b>Friend Requests</b><br>

<% if(requests.isEmpty()) { %>
  <div align="center" style="height: 100px; width: 300px;">
    <h4>No new requests</h4>
  </div>
<% } else { %>
  <% requests.forEach(function(user) { %>
    <img src="<%= user.get('icon') %>">
    <a href="#users/<%= user.escape('id') %>">
      <%= user.escape('name') %></a>
    <a href="" class="confirm-friend" user-id="<%= user.id %>">Confirm</a>
    <br><br>
  <% }); %>
<% } %>