<b>Friend Requests</b>
<br><br>

<% if(requests.isEmpty()) { %>
  <h4 align="center">No new requests</h4><br><br>
<% } else { %>
  <% requests.first(4).forEach(function(user) { %>
    <ul class="media-list">
      <li class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="<%= user.get('icon') %>">
        </a>
        <div class="media-body">
          <h4 class="media-heading">
            <a href="#users/<%= user.escape('id') %>">
              <%= user.escape('name') %></a>
          </h4>

          <button user-id="<%= user.escape('id') %>" 
                  class="confirm-friend btn btn-default btn-xs">
                  Confirm</button>
        </div>
      </li>
    </ul>
    <br>
  <% }); %>
<% } %>