<div id="left-bar" class="col-xs-3"></div>
<div id="content" class="col-xs-6"></div>
<div id="right-bar" class="col-xs-3"></div>

<script>
$(function() {
  FacebookClone.currentUser = new FacebookClone.Models.User({
    id: <%= current_user.id %>,
    icon: '<%= current_user.profile_pic.url(:small) %>'
  });

  FacebookClone.initialize(5);
});
</script>