<div id="left-bar" class="col-xs-2"></div>
<div id="content" class="col-xs-6"></div>
<div id="right-bar" class="col-xs-2"></div>

<script>
$(function() {
  FacebookClone.currentUser = {
    id: <%= current_user.id %>
  }
  FacebookClone.initialize(5);
});
</script>